.input-outlined:focus {
  box-shadow: 0 0 0 3px rgba(14, 165, 233, 0.1);
}

.input-underlined:focus {
  box-shadow: 0 3px rgba(14, 165, 233, 0.1);
}

.input-outlined-error:focus {
  box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.1);
}

.input-underlined-error:focus {
  box-shadow: 0 3px rgba(239, 68, 68, 0.1);
}
